In [1]:
#set the variable of all the sequence variables
seq_1 = 'ATCGTACGATCGATCGATCGCTAGACGTATCG'
seq_2 = "actgatcgacgatcgatcgatcacgact"
seq_3 = "ACTGAC-ACTGTâ€”ACTGTA----CATGTG"

In [3]:
#making a list
apes = ['Homo sapiens', 'Pan troglodytes', 'Gorilla gorilla']
conserved_sites = [24, 56, 132]
#each item in the list is an elements

In [4]:
#pulling out a single element from the list
print(apes[0])
first_site = conserved_sites[2]
#remember we start counting at 0

Homo sapiens

In [6]:
#if you know which element you want but don't know the index
chimp_index = apes.index('Pan troglodytes')
#chimp_index is now 1

In [7]:
#giving it a negative number will start from the end
last_ape = apes[-1]

In [9]:
#what if we want a range of elements
ranks = ['kingdom', 'phylum', 'class', 'order', 'family']
lower_ranks = ranks[2:5]
#lower ranks are class, order, and family
#remember numbers are inclusive at the start and exclusive at the end

In [10]:
#to add to a list use append
apes.append('Pan paniscus')

In [11]:
#getting the length of a string
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
print("There are " + str(len(apes)) + " apes")
apes.append("Pan paniscus")
print("Now there are " + str(len(apes)) + " apes")

There are 3 apes
Now there are 4 apes

In [14]:
#concatenating lists
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
monkeys = ['papio ursinus', 'Macaca mulatta']
primates = apes + monkeys

print(str(len(apes)), 'apes')
print(str(len(monkeys)), 'monkeys')
print(str(len(primates)), 'primates')
# , acts like + but puts a space between them, sometimes it doesn't work

3 apes
2 monkeys
5 primates

In [15]:
#to add to a list in process use list.extend(new elements)

In [18]:
#reverse and sort (to print a list we need to make it a string)
print('at the start : ' + str(ranks))
ranks.reverse()
print('after reversing : ' + str(ranks))
ranks.sort()
print('after sorting : ' + str(ranks))
#by default python sords alphabetically and numberical by ascending order

at the start : ['class', 'family', 'kingdom', 'order', 'phylum']
after reversing : ['phylum', 'order', 'kingdom', 'family', 'class']
after sorting : ['class', 'family', 'kingdom', 'order', 'phylum']

In [19]:
#loops!
#before loops
print(apes[0] + " is an ape")
print(apes[1] + " is an ape")
print(apes[2] + " is an ape")

Homo sapiens is an ape
Pan troglodytes is an ape
Gorilla gorilla is an ape

In [20]:
#with loop
for ape in apes:
    print(ape + ' is an ape')

Homo sapiens is an ape
Pan troglodytes is an ape
Gorilla gorilla is an ape

In [21]:
#page 89

In [2]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
    name_length = len(ape)
    first_letter = ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter)
    print("Its name has " + str(name_length) + " letters")

Homo sapiens is an ape. Its name starts with H
Its name has 12 letters
Pan troglodytes is an ape. Its name starts with P
Its name has 15 letters
Gorilla gorilla is an ape. Its name starts with G
Its name has 15 letters

In [4]:
#always make sure your indentations match
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
    name_length = len(ape)
 first_letter = ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter)
    print("Its name has " + str(name_length) + " letters")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [6]:
#we can treat a string like a list and use it in a loop the same way
name = 'martin'
for character in name:
    print("one character is " + character)
#repeating a set of instructions over each element of a list (or character in a string) is called iteration

one character is m
one character is a
one character is r
one character is t
one character is i
one character is n

In [7]:
#spliting a string to make a list
#split method, uses an argument called a delimiter (in this case ',') to make where to split the string
names = 'melanogaster,simulans,yakuba,ananassae'
species = names.split(',')
print(str(species))

['melanogaster', 'simulans', 'yakuba', 'ananassae']

In [8]:
#a file object can work just like a list as well where each line becomes an element
file = open('some_input.txt')
for line in file:
    #do something with the line
    #if you are going to do a loop store the file in a variable, DO NOT .read it!

SyntaxError: unexpected EOF while parsing (<ipython-input-8-71c679fb8d5b>, line 5)

In [9]:
#looping with ranges
protein = 'vlspadktnv'
stop_positions = [3,4,5,6,7,8,9,10]
for stop in stop_positions:
    substring = protein[0:stop]
    print(substring)
#this is cumbersome

vls
vlsp
vlspa
vlspad
vlspadk
vlspadkt
vlspadktn
vlspadktnv

In [10]:
#better to use the range function
#for a single argument it will count from 1 to the number, excluding the number itself
for number in range(6):
    print(number)

0
1
2
3
4
5

In [11]:
#with 2 numbers it will count up from the first(inclusive) to the sencond (exclusive)
for number in range(3, 8):
    print(number)

3
4
5
6
7

In [12]:
#with 3 number it will count from the first to the second in incriments dictated by the third
for number in range(2, 14, 4):
    print(number)

2
6
10

In [13]:
#exercise 1 processing DNA in a file
file =open('input.txt')
for dna in file:
    print(dna)

ATTCGATTATAAGCTCGATCGATCGATCGATCGATCGATCGATCGATCGATCGATC

ATTCGATTATAAGCACTGATCGATCGATCGATCGATCGATGCTATCGTCGT

ATTCGATTATAAGCATCGATCACGATCTATCGTACGTATGCATATCGATATCGATCGTAGTC

ATTCGATTATAAGCACTATCGATGATCTAGCTACGATCGTAGCTGTA

ATTCGATTATAAGCACTAGCTAGTCTCGATGCATGATCAGCTTAGCTGATGATGCTATGCA

In [22]:
#remove first 14 bases on all segments and then print the length of each segment
file = open('input.txt')
for dna in file:
    last_segment = len(dna)
    trimmed_dna = dna[14:last_segment]
    length = len(trimmed_dna)
    print(trimmed_dna.rstrip('\n'), str(length))

TCGATCGATCGATCGATCGATCGATCGATCGATCGATCGATC 43
ACTGATCGATCGATCGATCGATCGATGCTATCGTCGT 38
ATCGATCACGATCTATCGTACGTATGCATATCGATATCGATCGTAGTC 49
ACTATCGATGATCTAGCTACGATCGTAGCTGTA 34
ACTAGCTAGTCTCGATGCATGATCAGCTTAGCTGATGATGCTATGCA 47

In [26]:
#print this to new file
file = open('input.txt')
output = open('trimmed.txt', 'w')
for dna in file:
    last_segment = len(dna)
    trimmed_dna = dna[14:last_segment]
    length = len(trimmed_dna)
    output.write(trimmed_dna.rstrip('\n') + ' ' + str(length) + '\n')

In [27]:
output.close()
file.close()

In [29]:
#how they did it in the book
file = open('input.txt')
output = open('trimmed_2.txt', 'w')
for dna in file:
    last_character_position = len(dna)
    trimmed_dna = dna[14:last_character_position]
    output.write(trimmed_dna)
    print('processed sequence with length ' + str(len(trimmed_dna)))

processed sequence with length 43
processed sequence with length 38
processed sequence with length 49
processed sequence with length 34
processed sequence with length 47

In [30]:
output.close()
file.close()

In [ ]:
#didn't have the file to do exercise 2